body
{
    background-color: blanchedalmond;
}


#main
{
    margin:0px;
    padding:0px;
}


.head
{
    background-color: black;
    padding:10px;
    margin: 0px;
}

.topnav
{
    font-size: larger;

}

ul
{
list-style: none;
text-align: center;
margin: 0px;
padding:0px;
}

li
{
display: inline;
padding:20px;
}

a.navlink
{
    text-decoration: none;
    color: blanchedalmond;
    padding:10px;
    vertical-align: middle;
    
}
a.navlink:hover
{
    background-color: cornsilk;
    color:black;
}

#para
{
    margin:0 auto;
    text-align: center;
    padding-top: 30px;
    font-weight: bold;
    font-size: 30px;
}

.imge
{
    padding:10px 40px 20px 10px;
    float:left;
    height:250px

}

.ad
{
    text-align: center;
}

.para3
{
    padding-bottom:20px;
}

.button
{
    background:orange;
    padding:20px;
    text-align:center;
    box-sizing:border-box;
    line-height:28px;

}

ul{
    list-style-type: none;}
li{display:inline;}
a.button{color:#666;
    text-decoration:none;
   }

.bod .button
{
    padding: 10px;
}

#feet
{
    background-color: slategrey;
    padding-top:40px;
}

.para4 .button
{
    padding-top:50px;
}